body{
  background-color: black;
  font-family:cursive;

}
nav{
  background-color: rgb(255, 35, 98);
  font-size: 20px;
  color: white;
  font-family: cursive;
}
button{
  background-color: rgb(255, 35, 98);
  color: white;
  font-size: 22px;
  font-family: cursive;
  border-radius: 10px;
  height: 50px;
  width: 300px;
}
.btn{
  display: flex;
  justify-content: center;
  /* margin-top: 200px; */
}
.inp{
  width: 100%;
  color: white;
  background-color: black;
font-size: 30px ;
margin: 150px 10px -10px 10px;
border: none;

}
hr{
  color: white;
}
